/* https://unsplash.com/photos/birds-eye-view-of-islands-guNIjIuUcgY */
.searchSection {
  background-image: linear-gradient(rgba(0, 0, 0, 0.21), rgba(0, 0, 0, 0.216)), url("../../assets/images/denys-nevozhai-guNIjIuUcgY-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
}
