/* burger icon is styled in index.css */

.active {
  transform: translateY(0);
  height: 100%;
}

.hidden {
  transform: translateY(-150%);
  height: 100%;
}

.hamburgerMenuBtn {
  border: none;
  padding: 0 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 24px;
  z-index: 100;
}

.nav {
  background-color: white;
  position: fixed;
  top: 65px;
  left: 0;
  width: 100%;
  z-index: 99;
  transition: all 0.7s ease-in-out;
}

.openMenuLink {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 1.125rem;
  text-transform: uppercase;
  text-wrap: nowrap;
  &:hover {
    text-decoration: underline;
  }
  /* https://www.shecodes.io/athena/244018-how-to-make-the-text-scale-down-as-the-container-get-smaller#google_vignette */
  @media (min-width: 1025px) {
    font-size: calc(0.8vw + 0.8vh); /* You can adjust this value according to your preference */
  }
}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--color-black);
}
