/* burger icon is styled in index.css */

nav {
  position: fixed;
  top: 65px;
  right: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: var(--color-white);
  overflow: hidden;
  transform: translateX(100vw);
  opacity: 0;
  z-index: 100;
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1), opacity 0.5s ease-in-out;
}

nav.active {
  transform: translateX(0);
  opacity: 1;
}

.hamburgerMenuBtn {
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.openMenuLink,
.openMenuBtnText {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 1.125rem;
  /* text-transform: uppercase; */
  text-wrap: nowrap;

  @media (min-width: 1025px) {
    /* https://www.shecodes.io/athena/244018-how-to-make-the-text-scale-down-as-the-container-get-smaller#google_vignette */
    font-size: calc(0.8vw + 0.8vh); /* You can adjust this value according to your preference */
  }
}
.openMenuLink {
  @media (min-width: 1025px) {
    &:hover {
      text-decoration: underline;
    }
  }
}

.openMenuBtn {
  @media (min-width: 1025px) {
    &:hover {
      box-shadow: 0 0 0 2px var(--color-comp-green);
    }
  }
}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--color-comp-green);
}
