.footerCol {
  h3 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-primary-green);
  }
}

.navLinks {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--color-black);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  margin-bottom: 0.2rem;
  text-decoration: none;
  @media screen and (min-width: 768px) {
    &:hover {
      text-decoration: underline;
    }
  }
}

.paymentOptions {
  display: flex;
  gap: 1.5rem;
}

.copyRight {
  margin-top: 3rem;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--color-dark-gray);
  text-align: center;
  padding-bottom: 1rem;
}
